.btn {
    width: 192px;
    height: 60px;
    background: #FF6428;
    border-radius: 40px;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}