.categories{
    margin-top: 180px;
    &__wrapper{
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 330px;
    }
    &__card{
        position: relative;
        width: 220px;
        text-decoration: none;
        &:hover{
            width: 240px;
            transition: 0.7s all;
            .categories__card__name{
                font-size: 23px;
                transition: 0.7s all;
            }
        }
        &__img{
            width: 100%;
        }
        &__name{
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            color: #FFFFFF;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
    }
}